---
interface Props {
  class?: string;
  width?: 'content' | 'prose';
}
const { class: cls = '', width = 'content' } = Astro.props;
const max = width === 'prose' ? 'max-w-prose' : 'max-w-content';
---
<section class={`mx-auto ${max} px-5 ${cls}`}>
  <slot />
</section>
